/* You can add global styles to this file, and also import other style files */


.toolbar{
    font-size:28px;
    /* color:#424242; */
color:#f6f6f6;
    /* font-weight:600; */
}
label{
    font-size:16px;
}

mat-card-header{
    background-color:#fafafa;
    color:#026ead;
}
.padding-top-10{
padding-top:10px;
}
.gray-line{
    /* height:inherit; */
    border-right:3px solid #d8d8d8;
    margin-right:10px;
}
.center{
    justify-items:center;
}/* You can add global styles to this file, and also import other style files */
