<mat-card>
  <mat-card-header>
    <mat-card-title>
      FILTERS
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <div class="row" >
    <div class="col-md-3">
      <label style = "margin-right:9px">History Start Date: </label> 
      <mat-form-field class="dateField" >
        <input matInput [matDatepicker]="picker" [max]="minDate" [(ngModel)]="historyStartDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
    </div>
    <div class = "gray-line"></div>
    <div class="col-md-2 form-group padding-top-10" >
      <label>No of Weeks </label>
      <input type="text" class="weeks" name="historyWeek" [(ngModel)]="historyWeek" />
    </div>
    <div class = "gray-line"></div>
    <div class="col-md-4 padding-top-10">
      <div class="form-group">
        <label for="channel">Channel</label>
        <select name="channel" class="channel" [(ngModel)]="channel">
          <option value='111'>Direct Store</option>
          <option value='122'>Direct Online</option>
          <option value='133'>Phone</option>
        </select>
      </div>
    </div>
    
  </div>
  <div class = "gray-line"></div>
  <div class="row">
    <div class="col-md-3">
      <label>Forecast Start Date  : </label>
      <mat-form-field class="dateField">
        <input matInput [matDatepicker]="toPicker" [min]="maxDate" [(ngModel)]="forecastStartDate">
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class = "gray-line"></div>
    <div class="col-md-2  form-group padding-top-10">
      <label>No of Weeks </label>
      <input type="text" class="weeks" name="forecastWeek" [(ngModel)]="forecastWeek" />
    </div>
    <div class = "gray-line"></div>

  </div>
</mat-card-content>
  <hr />
  <mat-card-actions>
    <div class="row">
      <div class="col-md-1">
        <button mat-raised-button (click)="applyChange()">Submit</button>
      </div>
      <!-- <div class="col-md-2">
        <button mat-raised-button (click)="reset()">Reset</button>
      </div> -->
    </div>
  </mat-card-actions>
</mat-card>